@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@layer utilities {
    .liquid-ocean {
        background-color: rgba(0, 105, 148, 0.2) !important;
        backdrop-filter: blur(10px) !important;
        -webkit-backdrop-filter: blur(10px) !important;
        border: 1px solid rgba(255, 255, 255, 0.1) !important;
    }
}